*{
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E6E8E6;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom: 180px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
    animation: float 5s ease-in-out infinite;
}

.whatsapp-icon {
    display: flex;
    justify-content: center;
    background-color: #25d366;
    margin-top:13px;
}

#fotoPerfil {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #6689a1;
}

main {
    display: flex;
    justify-content: row;
}

footer {
    background-color: #6689a1;
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    animation-name: heartBeat;
    animation-duration: 5s;
}

h2 {
    display: flex;
    justify-content: center;
    animation-name: heartBeat;
    animation-duration: 5s;
}

h3 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

h4 {
    padding-top: 15px;
    padding-bottom: 5px;
}

li {
    padding: 3px;
}

#descripcionPerfil {
    width: 30em;
    text-align: justify;
    display: flex;
}

#datosGenerales {
    background-color: #E6E8E6;
    display: flex;
    flex-direction: column;
    text-align: justify;
    animation-name: bodyAnimation;
    animation-duration: 5s;
}

#experienciaLaboral {
    background-color: white;
    padding: 15px;
    animation-name: bodyAnimation;
    animation-duration: 5s;
}

#herramientasInformaticas {
    padding: 15px;
    background-color: #E6E8E6;
    display: flex;
    flex-direction: column;
    text-align: justify;
    animation-name: bodyAnimation;
    animation-duration: 5s;
}

#datosContacto {
    padding: 10px;
}

a:link {
    color: #0000ff;
}


@keyframes bodyAnimation {
    from {color: #ffffff}
    to {color: #000000}
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}